/node_modules
/public/hot
/public/storage
/public/css
/public/img
/public/js
/storage/*.key
/vendor
/.idea/*
/.idea/*.xml
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
